body
{
    background-size:cover;
}

.copy_right_footer
{
    position:fixed;
    color:rgb(255, 255, 255);
    bottom:0;
    width: 100%;
    background-color:rgb(255, 196, 58);
    line-height:3;
    text-align:center;
}


canvas
{
   border:2px solid white;
   border-radius:10px;
   margin-top:130px;
   box-shadow:5px 5px rgb(255, 255, 255);
}

.heading
{
    font-size: 23px;
    width:100%;
    margin:0px;
}